@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section:20px
    
}

body{
    font-family: 'poppins',sans-serif;
    color: ver(--primary-text-color);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}

p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: ver(--secondary-text-color);
    line-height: 1.8rem;

}

a{
    text-decoration: none;
    display: inline-block;
   
}

ul{
    list-style: none;
}

/*utility classes*/
small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.contener{
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color:var(--primary-text-color)
}

.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--accent-color);
    border-radius: 6px;
    font-weight: 700px;
    color:var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
    
.secondary-button:hover{
   border: color var();
    color: var(--accent-color) !important;  
}

/*top banner*/
.top-banner{
    background-color: #4fb3d4;
    background-image: url('./assets/top_banner_background.jpg');
 
}

.banner-text{
    color: white;
    padding: 15px 300px;
    text-align: center;
    
    
}
/* nev baar */

.main-nav{
    margin-top: 20px;
  justify-content: space-between;
}

.company-logo{
    width: 200px;
    height: 200px;
    
}

.nav-links{
    flex-basis: 730px;
}

.nev-linkds ul{
    justify-content: end;
    gap: 40px;
    margin-top: 0px;
}
 
/*header-section*/

header{
    padding: 50px var(--padding-inline-section);

}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}

.get started btn{
    margin: 20px;
}

.header-right img{
    width: 600px;
}

/*company section*/

.company-header{
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-text-color);
}
.logos{

    justify-content: center;
}

.logo{
    height: 45px;
    flex-wrap: wrap;
    margin-left: 50px;   
}
/*features-section*/

.features-header{
    text-align: center;
    
    
}

.features-section{
    padding: 80px var(--padding-inline-section) 0;
   
}
.features-heding-text{
    margin-bottom: 20px;
}
.features-area{
 flex-wrap: wrap;   
 justify-content: space-between;
 gap: 40px;
 margin-top: 20px;
}
.features-card{
     flex-direction: column;
     gap: 15px;
     text-align: center;
   
}
/*big-features-section*/

.big-features-section{
    padding: 30px var(--padding-inline-section)0;
}

.big-feature-container{
    gap: 30px;

}

.features-image img{
    width: 100%;
}

.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
.example-header{
    flex-direction: column;
    gap: 20px;
}
.example-area{
    justify-content: space-between;
    margin-block: 30px;
}
.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    border: 20px;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./assets/accounting13.jpg);
    transition: 0.2s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;

}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

/*.cta-section*/

.cta-section-contener{
    flex-direction: column;
    gap: 25px;
    color: white;
}

.cta-section{
    padding: 120px var(--padding-inline-section)80px;
    background-color: #183b56;
}
.cta-section-contener p{ 
    color: white;
    margin: 20px;

}
/*footer*/

footer{
padding: 80px;
background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-contener{
    align-items: flex-start;
    justify-content: space-between;
}

/*sub footer*/

.subfooter{background-color: #b9cde4;
padding: var(--padding-inline-section);
}
.subfootr-contener{
    justify-content: center;
    gap: 30px;
}